* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  height: 100vh;
  align-content: center;
  justify-items: center;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
  width: 400px;
}

.container > * {
  width: 100%;
}

.form {
  background-color: #eeeeee;
  padding: 1em;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  display: flex;
  align-items: center;
  gap: 1em;
}

.form input[name="title"] {
  border: 0;
  border-radius: 5px;
  padding: 0.75em;
  outline: none;
  flex: 1;
}

.form input:last-child {
  color: white;
  background-color: #ff0000c9;
  border: 0;
  padding: 0.5em;
  cursor: pointer;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  outline: none;
}

.tasks {
  background-color: #eeeeee;
  padding: 1em;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  display: flex;
  flex-direction: column;
  gap: 0.75em;
}

.tasks .task {
  background-color: white;
  padding: 0.75em;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tasks .delete {
  border: 0;
  outline: 0;
  background-color: #ff0000c9;
  color: white;
  padding: 0.25em;
  cursor: pointer;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
