* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
  justify-items: center;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  padding: 1em;
}

.form input,
form select {
  outline: 0;
  border: 0;
  background-color: #eeeeee;
  border-radius: 5px;
  padding: 0.5em 0.75em;
}

.form input[type="password"] {
  margin-bottom: 1em;
}

.form select {
  cursor: pointer;
}
