* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 500;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form {
  padding: 1em;
  background-color: #eeeeee;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.form textarea {
  display: block;
  border: 0;
  outline: 0;
  resize: none;
  padding: 0.5em;
  margin-top: 0.75em;
  width: 300px;
  height: 150px;
  font-size: 1.15rem;
  letter-spacing: 2px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.form button {
  margin-top: 1em;
}
