* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  min-height: 100vh;
  align-content: center;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
}

.form .input,
.form input[type="submit"] {
  width: 250px;
  padding: 0.75em 0.5em;
  border-radius: 5px;
}

.form .input {
  background-color: #fcfcff;
  outline: 0;
  border: 1px solid #ccc;
}

.form input[type="submit"] {
  background-color: #009096;
  color: white;
  font-weight: 600;
  letter-spacing: 1px;
  border: 0;
  cursor: pointer;
}

.form .results {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 1.25em;
  width: 100%;
  padding: 0 2em;
  margin-top: 1.5em;
}

.form .results .box {
  background-color: #fc4812;
  color: white;
  padding: 0.75em 0.5em;
  border-radius: 5px;
  text-align: center;
  font-size: 1.15rem;
}
